# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
sdist/
*.egg-info/
*.egg
.eggs/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Sphinx documentation
docs/_build/
docs/code

# Environments
.env
.venv
env/
venv*/
ENV/

# PyCharm project files
.idea/

# Vim swap files
*.swp

# Backup files
*~
