Screen {
    layout: horizontal;
}

.column {
    height: 100%;
}

#list {
    width: 16;
    margin: 0 2 0 0;
    border: round $secondary-darken-3;
}

#list:focus {
    border: round $secondary-darken-1;
}

#list Label {
    width: 100%;
    text-align: center;
}
